.outerContainer {
 
  position: absolute;
  width: calc(100vh * 9 / 16); /* Adjust the width to maintain 16:9 aspect ratio in landscape mode */
  height: calc(100vh * 1 / 16); /* Use 100vh for height to match browser window */
  background-color: #fff; /* White background inside the box */
  color: #000; /* Black text color */
  font-size: 2rem; /* Adjust the font size as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}
