/* accountOption */

.accountOptions-container{
    color: white;
}

.accountOptions-field-details{
    color: white;
}

.accountOptions-field-changePassword{
    color: white;
}

.accountOptions-field-deleteAccount{
    color: white;
}

.accountOptions-field-logOut{
color: white;
}



/* changePASSWORD */

.changePassword-container{
    color: white;
}

.changePassword-field-description{
    color: white;
    text-emphasis-color: white;
}

.changePassword-field-password1{
    color: white;
}

.changePassword-field-password2{
    color: white;
}

.changePassword-field-sendLink{
    color: white;
}



/* CREATE ACCOUNT */


.createAccount-container{
    color: white;
}

.createAccount-field-email{
    color: white;
}

.createAccount-box-email{
    color: white;
}

.createAccount-field-password1{
    color: white;
}

.createAccount-box-password1{
    color: white;
}

.createAccount-field-password2{
    color: white;
}

.createAccount-box-password2{
    color: white;
}

.createAccount-field-robot{
    color: white;
}

.createAccount-createAccountbutton{
    color: white;
}


/* FORGOT PASSWORD PAGE  */

.forgotPassword-container{
    color: #501B1D;
}

.forgotPassword-field-text{
    color: white;
}

.forgotPassword-field-email{
    color: white;
}

.forgotPassword-box-email{
    color: white;
}

.forgotPassword-field-button{
    color: white;
}



/* LOGIN PAGE  */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
}

