/* LOGIN PAGE  */

.email-field {
    /* width: 90%; */
    /* display: inline-flex; */
    color: #501B1D;
}

.emailField{
    color: #501B1D;
}

.password-field {
    /* width: 90%; */
    /* display: inline-flex; */
    color: #501B1D;
}

.passwordField{
    color: #501B1D;
}

.login-field {
    /* width: 90%; */
    /* display: inline-flex; */
    margin-top: 10px;
}

.login-button{
    color: #501B1D;
}

.forgot-password-button{
    color: #501B1D;
}

.sign-up-field{
    color: #501B1D;
}

.sign-up-text{
    color: white;
}

.sign-up-button{
    color: #501B1D;
}

/* FORGOT PASSWORD PAGE  */

.forgotpassword-container{
    color: #501B1D;
}

.forgot-email-field{
    color: #501B1D;
}

.reset-password-button{
    color: #501B1D;
}


/* changePASSWORD */

.changePassword-container{
    color: white;
}

.enterOldPassword-field{
    color: white;
}

.enterOldPassword{
    color: white;
}

.enterNewPassword1-field{
    color: white;
}

.enterNewPassword1{
    color: white;
}

.enterNewPassword2-field{
    color: white;
}

.enterNewPassword2{
    color: white;
}

.change-password-button{
    color: white;
}


/* CREATE ACCOUNT */


.createAccount-container{
    color: white;
}

.enter-new-email-field{
    color: white;
}

.newAccountEmailField{
    color: white;
}

.enter-new-password-field{
    color: white;
}

.newAccountPassword1{
    color: white;
}

.confirm-new-password-field{
    color: white;
}

.newAccountPassword2{
    color: white;
}

.captcha-field{
    color: white;
}

.create-account-field{
    color: white;
}
