


.search {
  width: 90%;
  display: inline-flex;
  margin-top: 10px;
}

.searchTerm {
  width: 100%;
  border-radius: 25px;
  border: 3px solid #ffffff;
  padding: 5px;
  height: 10px;
  background-color: #ffffff;
  margin-right: 10px;
}

.searchTerm:focus{
  color: #501B1D;
}

.searchButton {
  width: 40px;
  height: 10px;
  border: 1px solid #ffffff;
  background: #ffffff;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchButton:hover {
    border: 1px solid #ffffff;
  }

.searchIcon {
    color: #501B1D;
}

.event-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
}

.event-date {
    text-align: center;
    /* padding-right: ; */
}

.event-date h1 {
    font-size: 15px;
    font-weight: 400;
}

.event-date h2 {
    font-size: 14px;
    margin: 0;
}

.month {
    font-size: 16px;
}

.event-title h1 {
    font-size: 24px;
    margin: 0;
}

.event-title p {
    color: #501B1D;
}

.details-button {
    height: 60px;
    width: 70px;
    padding: 10px 20px;
    background-color: #501B1D;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.details-button:hover {
    border: 1px solid #501B1D;
}

.add-event {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
  }

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: #501B1D;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
  }

  .add-button:hover {
    border: 1px solid #501B1D;
}

.filter-container {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #2e1114;
}

.filter-container h1{
    color: white;
    font-size: medium;
    margin-top: -10px;
}

.filter-type{
    /* display: flex; */
    margin-top: 20px;
    text-align: left;
}

.filter-type h1{
    margin-bottom: 5px;
}

.filter-list {
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap to the next line */
    gap: 10px; /* Adjust this value to your preference */
}

.filter-list u{
    color: white;
    font-size: small;
} 

.filter-button-container {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}

.filter-button{
    color: #501B1D;
    background-color: white;
    font-size: 15px;
}

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Darkened background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .confirmation-message {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }

  .confirmation-message p {
    margin-bottom: 10px;
    color: #501B1D;
  }
  
  .confirmation-box button {
    margin: 0 10px;
  }

  .confirm-button {
    color: #ffffff;
    background-color: #501B1D;
  }

  .confirmation-box {
    height: 70px;
    width: 250px;
  }
