.search {
  width: 90%;
  display: inline-flex;
  margin-top: 10px;
}

.searchTerm {
  width: 100%;
  border-radius: 25px;
  border: 3px solid #ffffff;
  padding: 20px;
  height: 50px;
  background-color: #ffffff;
  margin-right: 10px;
}

.searchTerm:focus{
  color: #501B1D;
}

.searchButton {
  width: 40px;
  height: 50px;
  border: 1px solid #ffffff;
  background: #ffffff;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchButton:hover {
    border: 1px solid #ffffff;
  }

.searchIcon {
    color: #501B1D;
}

.event-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
}

.event-date {
    text-align: center;
    /* padding-right: ; */
}

.event-date h1 {
    font-size: 32px;
    font-weight: bold;
}

.event-date h2 {
    font-size: 14px;
    margin: 0;
}

.month {
    font-size: 16px;
}

.event-title h1 {
    font-size: 24px;
    margin: 0;
}

.event-title p {
    color: #501B1D;
}

.details-button {
    height: 60px;
    width: 70px;
    padding: 10px 20px;
    background-color: #501B1D;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.details-button:hover {
    border: 1px solid #501B1D;
}
