/* AddCustomEvent.css */
.addEvent-container {
    background-color: #501B1D; /* Dark maroon background as in your calendarDetails-container */
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    font-family: 'Arial', sans-serif;
    max-width: 400px;
    margin: 0px; /* Center in the viewport with margin */
    display: flex;
    flex-direction: column;
  }
  
  
  .addEvent-container h2 {
    color: white;
  }
  
  .addEvent-container h1 {
    font-size: 22px; /* Slightly larger font size for main title */
    margin-bottom: 40px;
    text-align: left;
    color: #FFD700;
  }
  
  .addEvent-container h2 {
    font-size: 18px; /* Larger font size for section titles */
    margin-bottom: 8px;
    text-align: left;
  }
  
  .addEvent-container input[type="text"],
  .addEvent-container textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 16px;
    background: #fff; /* White background for inputs */
    border: 1px solid #FFD700; /* Gold border to match your style */
    color: #501B1D; /* Dark maroon text as in the background of container */
    border-radius: 4px;
    box-sizing: border-box; /* Include padding in the width */
  }
  
  .addEvent-container textarea {
    height: 100px; /* Fixed height for the textarea */
    resize: vertical; /* Allow vertical resize only */
  }
  
  .addEvent-button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Blue background for the button */
    color: white;
    font-weight: bold;
    text-transform: uppercase; /* Stylistic choice for uppercase text */
    cursor: pointer;
    margin-top: 20px; /* Space above the button */
    text-align: center;
  }
  
  .addEvent-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  .input-container {
    display: flex;
    align-items: center;
  }
  .addEvent-label {
    padding-right: 10px; /* Adjust the value as needed */
  }