.container {
    background-color: #501B1D; /* Dark maroon background as per your theme */
    color: white;
    font-family: 'Arial', sans-serif;
    border-radius: 8px;
    max-width: 95%; /* Adjust as necessary for mobile responsiveness */
    margin: 0; /* Centering the container */
    padding: 20px;
}

.container h1 {
    color: #FFD700; /* Gold color for the heading */
    text-align: left;
    margin-bottom: 16px;
}

.container input[type="text"],
.container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 2px solid white; /* Gold border for inputs and textareas */
    background: transparent;
    color: white;
    font-size: 20px; /* Increase font size */
    text-align: left; /* Align to the left */
}

.container .toggle-switch {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align checkbox and label to the left */
    margin-bottom: 16px;
}

.container .toggle-label {
    margin-right: 10px;
    font-size: 20px; /* Increase font size */
}

.container .time-container,
.container .end-container {
    display: block; /* Align the time information on separate lines */
    margin-bottom: 16px;
}

.container .label {
    display: block;
    margin-bottom: 4px; /* Spacing between label and its content */
    font-size: 20px; /* Increase font size */
    text-align: left; /* Align to the left */
}

.container .button-container {
    display: flex;
    justify-content: space-between; /* Space buttons out evenly */
    margin-top: 20px;
}

.container .button {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    flex: 1; /* Allow buttons to grow and take available space */
    margin: 0 8px; /* Space between buttons */
    background-color: #007bff; /* Blue background for the buttons */
    font-size: 20px; /* Increase font size */
}

.container .button-secondary {
    background-color: #6c757d; /* Different background for the secondary button */
}

.container .button:hover {
    opacity: 0.85; /* Slight transparency on hover for interaction */
}

.container .toggle-switch input[type="checkbox"] {
    margin-left: 255px; /* Adjust the margin as needed */
    transform: scale(1.5);
}

.container .description-label {
    font-size: 19px; /* Increase font size */
    color: white;
    margin-bottom: 3px;
    margin-left: 0; /* Remove previous left margin */
    text-align: left; /* Align text to the left */
    display: block; /* Change to block-level element */
}

.container .notes-label {
    font-size: 19px; /* Increase font size */
    color: white;
    margin-bottom: 3px;
    margin-left: 0; /* Remove previous left margin */
    text-align: left; /* Align text to the left */
    display: block; /* Change to block-level element */
}