* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 11px; /* or your preferred base font size */
}

.headerContainer {
  width: 100%;
  height: 50px;
  background-color: #2e1114;
  display: flex;
  justify-content: space-between; /* Use space-between to push left to the left, middle to the center, and right to the right */
  align-items: center;
}

.headerContainer h3 {
  font-family: "DM-Sans", sans-serif;
  font-size: large;
  color: white; /* Adjust text color as needed */
}

.header_innerContainer_LEFT {
  padding: 5px;
  background-color: white;
  color: #2e1114;
  font-weight: 700;
}

.header_innerContainer_LEFT:hover {
  background-color: 501b1d;
}

.header_innerContainer_MIDDLE {
  padding: 5px; /* Adjust padding as needed */
}

.header_innerContainer_RIGHT {
  padding: 5px;
  background-color: #2e1114;
  color: #2e1114; /* Adjust text color as needed */
}


.bodyContainer {
  width: 402px;
  height: calc(100vh - 100px); /* Adjusted height to fill the remaining space */
  background-color: #501b1d;
  color: #501b1d;
}

.footerContainer {
  width: 100%;
  height: 50px;
  background-color: #2e1114;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.footerButton {
  height: 50px;
  width: calc(100% / 4); /* Each button takes up 1/4 of the width */
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-size: 16px;
  outline: none; /* Remove default focus border */
}

.footerButton:hover {
  background-color: white;
  color: #501b1d;
}

.footerContainer {
  width: 100%;
  height: 50px;
  background-color: #2e1114;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.homeButton,
.calendarButton,
.eventsButton,
.accountButton {

}
