/* CONTAINER RELATED CSS */

.outer-container {
  background-color: black; /* Black background outside the box */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mobile-container {
  width: 384px;
  height: 700px;
  padding: 0; /* Remove padding */
  background-color: grey; /* White background inside the box */
  display: flex;
  flex-direction: column;
}

.header-container,
.body-container,
.footer-container {
  width: 384px; 
  padding: 0; 
  margin: 0; /* Remove margin */
}

.header-container {
  background-color: blue; 
  height: 50px; 
}

.body-container {
  background-color: orange; 
  height: 600px; 
}

.footer-container {
  background-color:lightblue;
  height: 50px; 
  font-size: 13px;
}


/* ALL BUTTONS  */
/* Style for button hover */
.footer-button button:hover {
  background-color: white;
  color: black;
}

/* FOOTER RELATED  */
/* Style for the buttons */
.footer-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-button button {
  width: calc(384px/4); /* Adjust width as needed */
  height: 50px;
  background-color: transparent;
  border: 1px solid white; /* White border */
  color: black;
  font-size: 13px;
  cursor: pointer;
}

.footer-button-with-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}