.search {
    margin-left: 10px;
    width: 95%;
    display: inline-flex;
    margin-top: 5px;
  }
  
  .searchTerm {
    margin-top: 10px;
    width: 100%;
    border-radius: 25px;
    border: 3px solid #ffffff;
    height: 30px;
    background-color: #ffffff;
    margin-right: 10px;
    padding-left: 10px;
    outline: none;
  }
  
  .searchTerm:focus {
    color: #501b1d;
  }
  
  .searchButton {
    width: 50px;
    height: 40px;
    border: 1px solid #ffffff;
    background: #ffffff;
    border-radius: 12px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .searchButton:hover {
    border: 1px solid #ffffff;
  }
  
  .searchIcon {
    color: #501b1d;
  }
  
  .event-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #501b1d;
    font-family: "DM-Sans", sans-serif;
    padding: 10px;
  }
  
  .event-date {
    text-align: center;
    margin-left: 10px;
  }
  
  .event-date h1 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 0;
  }
  
  .event-date h2 {
    font-size: 14px;
    margin-top: 0;
  }
  
  .month {
    font-size: 16px;
  }
  
  .event-title {
    text-align: center; /* Align event title text to the left */
    flex-grow: 1; /* Allow the event title to expand and fill the available space */
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 110px);
  }
  .event-title h1 {
    font-size: 20px;
    margin: 2px; /* Remove default margin */
  }
  
  .event-title p {
    color: #501b1d;
    font-size: 14px;
    margin: 0; /* Remove default margin */
  }
  
  .details-button {
    height: 40px;
    width: 50px; /* Fixed width for the button */
    padding: 0px;
    background-color: #501b1d;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #501b1d;
  }
  
  .add-event {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
  }
  
  .add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: #501b1d;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #501b1d;
  }
  
  .add-button:hover {
    border: 1px solid #501b1d;
  }
  
  .filter-container {
    text-align: left;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #2e1114;
    position: absolute;
    z-index: 1;
    width:300px;
    font-family: "DM-Sans", sans-serif;
  }
  
  .filter-container h1 {
    color: white;
    font-size: medium;
    margin-top: -10px;
  }
  
  .filter-type {
    margin-top: 20px;
  }
  
  .filter-type h1 {
    margin-bottom: 5px;
  }
  
  .filter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
  }

  .filter-list u {
    cursor: pointer;
    text-decoration: none;
    margin-right: 15px;
    color: white;
    font-size: small;

  }
  
  .filter-list u.active {
    color: white;
    border-radius: 5px; /* Adjust the value as needed for the desired curve */
    text-decoration: underline;
  }
  
  
  .filter-button-container {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
  }
  
  .filter-button {
    padding: 10px;
    color: #501b1d;
    background-color: white;
    font-size: 15px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .events-wrapper {
    height: 425px;
    overflow-y: auto;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Darkened background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }

  .confirmation-message {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-family: "DM-Sans", sans-serif;
  }

  .confirmation-message p {
    margin-bottom: 20px;
    color: #501B1D;
  }
  
  .confirmation-box button {
    margin: 0 10px;
    height: 20px;
  }

  .confirm-button {
    color: #ffffff;
    background-color: #501B1D;
    border: 1px solid #501B1D;
    border-radius: 5px;
    cursor: pointer;
  }

  .cancel-button {
    color: #ffffff;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
  }

  .confirmation-box {
    height: 90px;
    width: 250px;
  }

  .date-range {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .date-range input[type="date"] {
    padding: 8px;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .calendar-icon,
  .arrow-right {
    margin: 0 5px;
    color: #501B1D;
    font-size: 20px;
  }

  .dropdown-filters {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .dropdown-icon {
    color: white;
  }

  .dropdown-button {
    height: 30px;
    width: 70px; /* Fixed width for the button */
    padding: 0px;
    background-color: #501b1d;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #501b1d;
    text-align: center;
  }

  .dropdown-content {
    margin-top: 5px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: #501B1D;
    color: white;
    font-family: "DM-Sans", sans-serif;
    padding: 10px;
    font-size: small;
  }

  .quadrant-filter {
    margin-bottom: 10px;
  }

  .filter-label,
  .quadrant-label {
    margin-right: 10px; /* Adjust the value as needed */
  }
  .sort-by {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .sort-button {
    height: 30px;
    width: 70px; /* Fixed width for the button */
    padding: 0px;
    background-color: #501b1d;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #501b1d;
    text-align: center;
    width: 100px;
  }

  .no-events-message {
    text-align: center; /* Center the text horizontally */
    padding: 10px; /* Add padding around the message */
    color: #501B1D;
    font-family: "DM-Sans", sans-serif;
  }

  .reset-button {
    margin-top: 10px;
    height: 25px;
    width: 50px; /* Fixed width for the button */
    padding: 0px;
    background-color: white;
    color: #501B1D;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #501b1d;
    text-align: center;
  }

  /* Styles for the scrollbar */
  .events-wrapper::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
  }
  
  /* Track */
  .events-wrapper::-webkit-scrollbar-track {
    background: transparent; /* Make the track transparent */
  }
  
  /* Handle */
  .events-wrapper::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2); /* Color of the scrollbar handle */
    border-radius: 5px; /* Rounded corners for the scrollbar handle */
  }
  
  /* Handle on hover */
  .events-wrapper::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4); /* Darker color on hover */
  }

  .detailsWrapper {
    color: #501b1d;
    font-family: "DM-Sans", sans-serif;
  }

  .detailsHeader {
    background-image: url("../assets/CalgaryTowerEventHeader.jpg");
    background-position-x: -478px;
    background-position-y: -200px;
    position: relative;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .detailsHeader h1 {
    align-self: center;
    justify-self: center;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #501b1d;
  }

  .backButton {
    margin-left: 10px;
    height: 30px;
    padding: 0px;
    background-color: #501b1d;
    color: #fff;
    border-radius: 100%;
    cursor: pointer;
    border: 1px solid #501b1d;
    text-align: center;
    width: 30px;
  }

  .detailsBody {
    display: inline-flex;
    justify-content: center;
  }

  .detailsDate {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: small;
    margin: 2px;
    width: 188px;
    border-radius: 5px;
  }

  .detailsLocation {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: small;
    margin: 2px;
    width: 188px;
    border-radius: 5px;
  }

  .detailsDescription {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: small;
    margin: 2px;
    width: 379px;
    height: 200px;
    border-radius: 5px;
  }

  .detailsExport {
    display: inline-flex;
    justify-content: center;
  }

  .detailsAddToCalendar {
    background-color: #ffffff;
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: small;
    margin: 2px;
    width: 188px;
    border-radius: 5px;
    height: 50px;
  }

  .detailsMap {
    background-image: url("../assets/CalgaryTowerMap.png");
    background-size: 120%;
    background-position-y: -85px;
    background-position-x: -30px;
    display: flex;
    justify-content: center;
    font-size: small;
    margin: 2px;
    width: 379px;
    height: 145px;
    border-radius: 5px;
  }

  .detailsOutlookButton, .detailsGoogleButton, .detailsAppleButton {
    position: relative;
    bottom: 18px;
    height: 30px;
    width: 62px; /* Fixed width for the button */
    padding: 0px;
    background-color: #501b1d;
    color: #fff;
    cursor: pointer;
    border: 2px solid #000000;
    text-align: center;
  }

  .detailsShareEventPage {
    background-color: #501b1d;
    color: white;
    border: 1px solid #501b1d;
    cursor: pointer;
    text-align: center;
    font-size: small;
    margin: 2px;
    width: 188px;
    border-radius: 5px;
    height: 50px;
  }