/* page_Calendar.css */
.map-container {
    
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background-color: black;
    position: relative;
    overflow: hidden; /* Ensure content stays within the container */
  }
  
  .map-image {
    display: block;
    transition: transform 0.6s ease; /* Smooth transition for zoom effect */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ensure image fills the container width */
    height: 100%; /* Ensure image fills the container height */
    max-width: 100%; /* Prevent image from exceeding its original size */
    max-height: 100%; /* Prevent image from exceeding its original size */
    overflow: hidden; /* Hide overflow content beyond the container */
  }

  .resetButton {
    position: absolute;
    width: 30px;
    height:30px;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
  }

  .filters-container {
    height: 100px;
  }

  

    
  .location-buttons {
    position: absolute;
    margin-left:0px;
  }
  
  .location-buttons button {
    margin: 0 10px;
  }

  .map-button {
    position: absolute;
    /* Adjust the button styles as needed */
  }


  .checkbox-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: 11px;
    border: 2px solid #000;
    margin: 10px;
  }
  .checkbox-item {
    display: flex;
    align-items: center;
  }
  .checkbox-item input[type="checkbox"] {
    margin-right: 10px;
  }