/* page_Account.c */

/* Login */
.login-container {
  font-family: "DM-Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center text content */
}

.header-container {
  background-color: #0E7F98;
  height: 50px;
  font-family: "DM-Sans", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 12px;
}

.whereLogo {
  width: 100px; /* Set the width of the logo */
  height: auto; /* Maintain aspect ratio */
  margin-right: 60px;
  margin-top: 110px;
  margin-bottom: 45px; /* Adjust margin */
}

/* CSS for error message container */
.error-message-container {
  height: 20px; /* Adjust height as needed */
}

/* CSS for error message */
.login-field-error {
  color: red; /* Color for error message text */
}

.error-message {
  font-size: 14px; /* Font size for error message */
}


.emailField,
.passwordField {
  width: 225px;
  max-width: 300px; /* Set the maximum width */
  margin-bottom: 20px; /* Adjust margin */
  padding: 10px; /* Add padding */
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border radius */
}

.forgot-password-link {
  font-size: 14px;
  color: black;
  margin-bottom: 15px; /* Adjust margin */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Make the text bold */
}

.login-button,
.signup-button {
  font-weight: bold;
  width: 100%; /* Set the button width to 100% */
  padding: 12px; /* Add padding */
  margin-top: 15px;
  background-color: #632426; /* Button color */
  color: white; /* Text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Add border radius */
  cursor: pointer;
}

.sign-up-text {
  padding: 5px;
  font-size: 14px;
  color: black;
  margin-top: 10px; /* Adjust margin */
  text-decoration: none; /* Remove underline */
}

.guest-button {
  font-weight: bold;
  width: 100%; /* Set the button width to 100% */
  padding: 12px; /* Add padding */
  margin-top: 0px;
  background-color: #632426; /* Button color */
  color: white; /* Text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Add border radius */
  cursor: pointer;
}




/* CREATE ACCOUNT */


.createAccount-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-header {
    color: white;
    font-size: 28px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
}

.detail-headers {
    color: white;
    font-size: 14px;
    margin-right: 0; /* Remove or set to 0 if you want left alignment */
    margin-bottom: 2.5px;
    text-align: left;
}

.first-name-textfield,
.last-name-textfield,
.newAccountEmailField,
.newAccountPassword1,
.newAccountPassword2 {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px 80px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333; /* Dark grey color */
    padding: 6px; /* Adjust padding as needed */
    border-radius: 0px; /* Optional: add border-radius for rounded corners */
    font-size: 12px;
  }

  .captcha-field {
    display: flex;
    flex-direction: column;
    align-items: center;

/* Optional: add margin between the fields */
  }

  .captcha-field label {
    color: white; /* Set text color for the label */
  }

  .captcha-field input {
    margin-right: 5px; /* Optional: add space between checkbox and label */
  }

  .create-account-field button {
    background-color: #2e1114; /* Dark red color, adjust as needed */
    color: white; /* Set text color for the button */
    padding: 15px 30px; /* Adjust padding as needed */
    border: none;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 3px; /* Optional: add border-radius for rounded corners */
    font-size: 16px; /* Adjust the font size as needed */
  }

  .create-account-field button:hover {
    background-color: red; /* Change color on hover, adjust as needed */
  }


/* FORGOT PASSWORD PAGE  */

.forgotPassword-container{
    color: #501B1D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgotPassword-field-text{
    color: white;
    font-size: 28px;
    font-weight: 400;
    margin-top: 50px;
}

.enterEmail-text {
    color: white;
    font-size: 19.5px;
    margin-top: 100px;

}

.emailLink-text {
    color: white;
    font-size: 16px;
    margin-top: 25px;
}

.forgotPassword-box-email{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px 80px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.forgotPassword-field-button{
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    padding: 10px 105px 10px 105px;
    margin-top: 25px;
}




/* Account Settings */
.account-header {
  color: #501b1d;
  font-family: "DM-Sans", sans-serif;
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 22.5px;
  font-weight: bold;
}

.user-info {
  color: #501b1d;
  font-family: "DM-Sans", sans-serif;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.user-info h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.user-info p {
  margin: 15px 0;
  font-size: 16px;
}

.accountOptions-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accountOptions-field-changePassword,
.accountOptions-field-deleteAccount,
.accountOptions-field-logOut {
  padding: 10px;
  margin-bottom: 10px;
}

.accountOptions-field-changePassword button,
.accountOptions-field-deleteAccount button {
  font-family: "DM-Sans", sans-serif;
  width: 300px;
  font-size: 18px;
  align-self: center;
  background-color: #154c79;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.accountOptions-field-changePassword button:hover,
.accountOptions-field-deleteAccount button:hover {
  background-color: #1b5a8e;
}

.accountOptions-field-logOut button {
  width: 300px;
  font-size: 18px;
  align-self: center;
  background-color: #632426;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.accountOptions-field-logOut button:hover {
  background-color: #7d3034;
  color: white;
}

/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* Modal */
.modal {
  font-family: "DM-Sans", sans-serif;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; /* Set the width as desired */
}

.modal h2 {
  color: #501b1d;
  font-size: 20px;
  margin-bottom: 35px;
}

.modal p {
  font-size: 14.5px;
  margin-bottom: 20px;
}

.modal input {
  margin-bottom: 12.5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.modal button {
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  border: 0.5px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

/* Styles for the first button */
.button-first {
  background-color: #632426;
  color: white;
}

.button-first:hover {
  background-color: #7d3034;
}

/* Styles for the second button */
.button-second {
  background-color: #f8f8f8;
  color: black;

}

.button-second:hover {
  background-color: #eaeaea;
}

.error-message {
  color: red; /* Change the color to red */
  font-size: 14px; /* Optionally adjust font size */
}