/* Forgot Password Page Styles */

.forgot-password-container {
  background-color: #ffffff; /* White background for the form */
  max-width: 400px; /* Set a max-width for the form */
  margin: 80px auto; /* Center the form horizontally and vertically */
  padding: 3.5rem;
  border-radius: 8px; /* Rounded corners for the form */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  text-align: center; /* Center align the text for the headings and button text */
}

.forgot-password-header {
  font-size: 25px;
  color: #102a43; /* Dark blue for contrast and readability */
  margin-bottom: 40px;
}

.forgot-password-description {
  font-size: 14px;
  margin-bottom: 20px;
}

/* Input field - Style it to be more modern and clean */
.forgot-password-email {
  border: 1px solid #dfe3e8; /* Light grey border */
  border-radius: 4px; /* Rounded borders */
  width: calc(100% - 2rem); /* Full width minus padding */
  padding: 0.5rem; /* Comfortable padding inside the input */
  margin-bottom: 1rem; /* Space between input and button */
}

/* Buttons - Use a color that stands out for the primary action */
.forgot-password-button-container button {
  width: calc(100% - 4rem); /* Full width minus padding */
  padding: 0.75rem;
  margin-bottom: 0.5rem; /* Space between buttons if stacked */
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer; /* Indicate the button is clickable */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* Distinguish the primary action with a unique color */
.forgot-password-button {
  background-color: #632426; /* Button color - Theme blue */
}

.forgot-password-button:hover {
  background-color: #480606; /* Slightly darker blue on hover */
}

/* Secondary actions can be more subtle */
.cancel-button {
  background-color: #f0f4f8; /* Lighter background for cancel or secondary button */
  color: #334e68; /* Soft blue that matches the description text */
}

.cancel-button:hover {
  background-color: #dbe2e6; /* Slightly darker background on hover */
}

/* Error Message Styles */
.forgot-password-error {
  color: red; /* Red color for error messages */
  font-size: 14px; /* Readable font size */
  margin-bottom: 1rem; /* Space above the input field */
  margin-top: -15px;
}

.success-message {
  color: black;
}